################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/

# Build artifacts
bin/
obj/
/MVVM/MyActivityDiary1.0/ToDoApp.UI/publish
